<section class="main-products-display py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="mb-3 mb-sm-4 mb-xl-0">
                <app-products-display [widgetTitle]="'Hot Sale'"></app-products-display>
            </div>

            <div class="mb-3 mb-sm-4 mb-xl-0">
                <app-products-display [widgetTitle]="'Top Rated'"></app-products-display>
            </div>

            <div class="mb-3 mb-sm-4 mb-xl-0">
                <app-products-display [widgetTitle]="'Popular'"></app-products-display>
            </div>

            <div class="mb-3 mb-sm-4 mb-xl-0">
                <app-products-display [widgetTitle]="'Best Choice'"></app-products-display>
            </div>
        </div>
    </div>
</section>