<nav class="main-nav navbar navbar-expand-lg">
  <div class="container">
    <app-logo></app-logo>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMainHeader"
      aria-controls="navbarMainHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMainHeader">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @for (itemNav of navitems; track $index) {
        <li class="nav-item">
          <a
            class="nav-link fw-medium"
            [routerLink]="itemNav.route"
            [routerLinkActive]="['active']"
            >{{ itemNav.label }}</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
